.Comic{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}
.imageComic{
    width: 25%;
    height: 25%;
}
.formChapter{
    margin-top: 100px;
}
.comicMargin{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
