.Comic{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    background-color: #EBEBEB;
    ;
}
.imageComic{
    width: 25%;
    height: 25%;
}
.formChapter{
    margin-top: 100px;
}
.comicMargin{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.butons{
    display: flex;
    flex-direction: row;
}
.botomcito{
    border: 1px solid ;
}
