.page-container {
  padding-top: 100px;
  width: 100%;
  background-color: #ebebeb;
}
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  background-color: var(--primary);
  height: 40px;
}
.page-title>h2 {
  margin: 0;
  text-align: center;
}
.page {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.page-img {
  width: 100%;
  max-width: 685px;
  min-height: 100vw;
  background-color: transparent;
}
.buttons-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
.page-button {
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  width: 50%;
  height: 100%;
}
.message {
  font-size: 3rem;
  color: var(--primary);
  text-align: center;
}
.page-number {
  font-size: 1.1rem;
  color: #111;
  text-align: center;
}