.page-container {
  padding-top: 100px;
  width: 100%;
  background-color: #ebebeb;
}
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  background-color: var(--primary);
  height: 40px;
}
.page-title>h2 {
  margin: 0;
  text-align: center;
}
.page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-img {
  width: 100%;
  max-width: 685px;
  min-height: 100vw;
}